#HeaderTop {
  height: 32px;
  background: #f2f2f2;
  line-height: 32px;
  border-bottom: 1px solid #e5e5e5; }
  #HeaderTop .container {
    font-size: 12px;
    color: #6c6c6c; }
    #HeaderTop .container span {
      float: left; }
      #HeaderTop .container span a {
        color: #ec3e7d;
        text-decoration: underline; }
    #HeaderTop .container #topwel2 {
      display: none; }
    #HeaderTop .container span:first-child {
      margin-right: 15px; }
    #HeaderTop .container #HeaderTopUl {
      float: right;
      position: relative;
      z-index: 1; }
      #HeaderTop .container #HeaderTopUl li {
        float: left; }
        #HeaderTop .container #HeaderTopUl li a {
          padding: 0 12px;
          color: #6c6c6c; }
          #HeaderTop .container #HeaderTopUl li a .icon-xia1 {
            font-size: 9px;
            color: #949597;
            margin-left: 3px; }
          #HeaderTop .container #HeaderTopUl li a .xl {
            position: relative;
            margin-left: 5px;
            margin-bottom: -3px;
            display: inline-block;
            width: 17px;
            height: 15px;
            background: url(../img/top/c259d12fd27e021fbd436fbb75b64c5446e333b4.png) no-repeat; }
            #HeaderTop .container #HeaderTopUl li a .xl #xlD {
              background-color: #fff;
              width: 100px;
              height: 100px;
              position: absolute;
              z-index: 1;
              display: none;
              left: -70px;
              top: 24px;
              border: 1px solid #ddd;
              box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }
          #HeaderTop .container #HeaderTopUl li a .vx {
            position: relative;
            margin-left: 5px;
            margin-bottom: -3px;
            display: inline-block;
            width: 17px;
            height: 15px;
            background: url(../img/top/8d854c3356e3bc7f94132006d3c20886195c5166.png) no-repeat; }
            #HeaderTop .container #HeaderTopUl li a .vx #vxD {
              background-color: #fff;
              width: 100px;
              height: 100px;
              position: absolute;
              z-index: 1;
              display: none;
              left: -90px;
              top: 24px;
              border: 1px solid #ddd;
              box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }
      #HeaderTop .container #HeaderTopUl li:hover {
        background: white; }
      #HeaderTop .container #HeaderTopUl .HeaderTopOneli {
        position: relative; }
        #HeaderTop .container #HeaderTopUl .HeaderTopOneli #HeaderTopOneliD {
          background: white;
          display: none;
          position: absolute;
          top: 32px;
          right: 0;
          padding: 5px 10px 10px 10px;
          width: 86px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          z-index: 99999; }
          #HeaderTop .container #HeaderTopUl .HeaderTopOneli #HeaderTopOneliD dl dd {
            height: 25px !important; }
            #HeaderTop .container #HeaderTopUl .HeaderTopOneli #HeaderTopOneliD dl dd a:hover {
              color: #ec3e7d; }
      #HeaderTop .container #HeaderTopUl .HeaderTopTwoli {
        position: relative; }
        #HeaderTop .container #HeaderTopUl .HeaderTopTwoli #HeaderTopTwoliD {
          background: white;
          display: none;
          position: absolute;
          top: 32px;
          right: 0;
          width: 300px;
          height: 70px;
          border: 1px solid #ddd;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          text-align: center;
          z-index: 99999; }

#HeaderSearch {
  width: 100%;
  background: white; }
  #HeaderSearch .container {
    height: 95px;
    position: relative; }
    #HeaderSearch .container .HeaderSearchM {
      position: absolute;
      top: 21px;
      left: 400px; }
      #HeaderSearch .container .HeaderSearchM #HeaderSearchMT {
        width: 330px;
        height: 24px;
        border: 3px solid #ec3e7d;
        padding: 3px 5px; }
      #HeaderSearch .container .HeaderSearchM input::-webkit-input-placeholder {
        color: #999; }
      #HeaderSearch .container .HeaderSearchM #HeaderSearchMB {
        width: 90px;
        height: 36px;
        background: #ec3e7d;
        color: white;
        text-align: center;
        line-height: 36px; }
      #HeaderSearch .container .HeaderSearchM .SearchCi {
        margin-left: -10px; }
        #HeaderSearch .container .HeaderSearchM .SearchCi li {
          margin-top: 8px;
          float: left;
          border-right: 1px solid;
          font-size: 12px;
          height: 16px;
          line-height: 16px;
          padding: 0 10px;
          color: #999;
          cursor: pointer; }

#HeaderNav {
  width: 100%;
  background: white; }
  #HeaderNav .container {
    height: 36px; }
    #HeaderNav .container #NavD .NavDone {
      width: 174px;
      padding-left: 16px;
      line-height: 36px;
      background: #333;
      height: 36px; }
      #HeaderNav .container #NavD .NavDone .xian {
        width: 16px;
        height: 5px; }
    #HeaderNav .container .NavUl .NavUllis {
      line-height: 36px;
      padding: 0 20px;
      cursor: pointer; }
      #HeaderNav .container .NavUl .NavUllis .hot .xstm {
        display: inline-block;
        width: 25px;
        height: 16px;
        margin-left: 3px;
        background: url(../img/top/top_hot_icon.png) no-repeat; }
      #HeaderNav .container .NavUl .NavUllis .icon-shang {
        color: black;
        font-size: 10px;
        margin-left: 5px; }
    #HeaderNav .container .NavUl .NavUllis:hover .hocolor {
      color: #ec3e7d; }
    #HeaderNav .container .NavUl .NavUllis:hover .icon-shang {
      color: #ec3e7d; }
    #HeaderNav .container .NavUl .more {
      position: relative; }
      #HeaderNav .container .NavUl .more #moreD {
        z-index: 990;
        display: none;
        position: absolute;
        width: 440px;
        height: 280px;
        background: white;
        top: 36px;
        border: 1px solid #bababa;
        border-top: none; }
        #HeaderNav .container .NavUl .more #moreD .moreDB {
          height: 42px;
          line-height: 42px;
          color: #ec3e7d;
          background: #eee;
          text-indent: 25px; }
        #HeaderNav .container .NavUl .more #moreD .moreDM {
          position: relative; }
          #HeaderNav .container .NavUl .more #moreD .moreDM .icon-xia {
            position: absolute;
            color: #eee;
            top: -63px;
            left: 19px;
            font-size: 26px; }
          #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMl {
            width: 210px;
            padding: 0 5px 0 25px; }
            #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMl .moreDMlUl {
              color: #333;
              font-size: 13px;
              line-height: 25px; }
              #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMl .moreDMlUl a {
                color: black; }
            #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMl .moreDMlAll {
              width: 210px;
              border-top: 1px dotted #ddd;
              line-height: 30px;
              cursor: pointer;
              text-align: center;
              margin-top: 8px; }
          #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMr {
            width: 199px;
            padding-left: 1px; }
            #HeaderNav .container .NavUl .more #moreD .moreDM .moreDMr .moreDMrUl li {
              float: left;
              width: 98px;
              height: 57.5px;
              border-top: 1px dotted #ddd;
              border-left: 1px dotted #ddd; }

#FooterOne {
  width: 100%;
  border-top: 1px solid #ddd;
  background: white; }
  #FooterOne .container {
    height: 122px; }
    #FooterOne .container .promi .container {
      height: 121px; }
      #FooterOne .container .promi .container .promiD {
        width: 192px;
        height: 120px;
        margin-right: 60px; }
        #FooterOne .container .promi .container .promiD .promiB {
          margin-top: 42px;
          width: 32px;
          height: 32px;
          background: url(../img/top/promise_icon.png) no-repeat; }
        #FooterOne .container .promi .container .promiD .promiZ {
          margin-top: 38px;
          margin-left: 10px; }
          #FooterOne .container .promi .container .promiD .promiZ .promiZyuO {
            font-size: 18px;
            color: #222; }
          #FooterOne .container .promi .container .promiD .promiZ .promiZyuT {
            font-size: 13px;
            color: #999999;
            margin-top: 4px; }

#FooterTwo {
  width: 100%;
  background: white; }
  #FooterTwo .container {
    height: 270px;
    border-top: 1px #ccc solid; }
    #FooterTwo .container .FooterTwol {
      width: 900px;
      padding-bottom: 20px; }
      #FooterTwo .container .FooterTwol .FooterTwolsh {
        height: 184px; }
        #FooterTwo .container .FooterTwol .FooterTwolsh ul li {
          width: 90px;
          margin-right: 90px;
          margin-top: 16px; }
          #FooterTwo .container .FooterTwol .FooterTwolsh ul li p {
            color: #222;
            font-size: 14px;
            line-height: 25px; }
            #FooterTwo .container .FooterTwol .FooterTwolsh ul li p a {
              color: #999;
              font-size: 12px; }
    #FooterTwo .container .FooterTwor {
      width: 300px; }
      #FooterTwo .container .FooterTwor div {
        margin-top: 20px;
        width: 128px;
        text-align: center; }
        #FooterTwo .container .FooterTwor div img {
          width: 128px;
          height: 128px;
          margin-bottom: 10px; }
        #FooterTwo .container .FooterTwor div p {
          font-size: 12px;
          font-weight: bold;
          color: #111111;
          line-height: 22px; }
      #FooterTwo .container .FooterTwor .FooterTworY {
        max-height: 178px;
        margin-right: 40px; }

#FooterThree {
  width: 100%;
  background: #000; }
  #FooterThree .container {
    height: 50px;
    padding-top: 26px;
    padding-bottom: 26px; }
    #FooterThree .container .FooterThreeY {
      height: 24px; }
      #FooterThree .container .FooterThreeY a {
        display: inline-block;
        float: left;
        color: white;
        font-size: 12px;
        padding: 1px 5px; }
    #FooterThree .container p {
      font-size: 14px;
      padding-top: 14px;
      line-height: 12px;
      color: #fff; }

#Sidebar {
  height: 100%;
  width: 38px;
  background: #4c4c4c;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999; }
  #Sidebar i {
    color: #c69a62;
    font-size: 20px;
    font-weight: normal; }
  #Sidebar .SidebarOne {
    position: absolute;
    top: 15%;
    left: 0; }
    #Sidebar .SidebarOne .SidebarOneown {
      position: relative;
      left: 0;
      text-align: center; }
      #Sidebar .SidebarOne .SidebarOneown .icon-wode {
        color: #c69a62;
        font-size: 20px;
        font-weight: normal; }
    #Sidebar .SidebarOne .SidebarOnecart {
      position: relative;
      left: 0;
      padding: 15px 9px;
      border-bottom: 1px solid #666;
      border-top: 1px solid #666;
      margin: 10px auto;
      height: 90px;
      text-align: center;
      font-size: 13px; }
      #Sidebar .SidebarOne .SidebarOnecart a {
        color: white; }
        #Sidebar .SidebarOne .SidebarOnecart a .icon-gouwuche {
          color: #c69a62;
          margin-bottom: 3px;
          display: block;
          font-size: 20px;
          font-weight: normal; }
        #Sidebar .SidebarOne .SidebarOnecart a span {
          background-color: #ec3e7d;
          line-height: 16px;
          width: 18px;
          height: 16px;
          display: block;
          border-radius: 50%;
          margin-left: 3px; }
    #Sidebar .SidebarOne .SidebarLike {
      position: relative;
      left: 0;
      width: 38px;
      height: 38px;
      line-height: 38px;
      cursor: pointer;
      text-align: center; }
    #Sidebar .SidebarOne .SidebarRecord {
      position: relative;
      left: 0;
      width: 38px;
      height: 38px;
      line-height: 38px;
      cursor: pointer;
      text-align: center; }
  #Sidebar .SidebarTwo {
    position: absolute;
    bottom: 0;
    left: 0; }
    #Sidebar .SidebarTwo div {
      position: relative;
      left: 0;
      width: 38px;
      height: 38px;
      cursor: pointer;
      text-align: center; }
    #Sidebar .SidebarTwo #Totop {
      text-align: center; }
      #Sidebar .SidebarTwo #Totop a {
        font-size: 10px !important;
        line-height: 10px;
        color: #fff; }
        #Sidebar .SidebarTwo #Totop a .icon-xiaotuziCduan_ {
          display: block; }

/*# sourceMappingURL=Header.css.map */
